CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    full_name TEXT NOT NULL,
    email TEXT NOT NULL UNIQUE,
    password TEXT,
    phone TEXT,
    date_of_birth DATE,
    city TEXT,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP
);
CREATE INDEX idx_students_email ON students(email);
CREATE TABLE education_details (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    student_id INTEGER NOT NULL UNIQUE,

    tenth_board TEXT,
    tenth_percentage REAL CHECK(tenth_percentage BETWEEN 0 AND 100),

    twelfth_board TEXT,
    twelfth_percentage REAL CHECK(twelfth_percentage BETWEEN 0 AND 100),

    FOREIGN KEY(student_id)
        REFERENCES students(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE
);
CREATE TABLE courses (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    duration_months INTEGER CHECK(duration_months > 0),
    fee REAL CHECK(fee >= 0)
);
CREATE INDEX idx_courses_title ON courses(title);
CREATE TABLE applications (
    id INTEGER PRIMARY KEY AUTOINCREMENT,

    student_id INTEGER NOT NULL,
    course_id INTEGER NOT NULL,

    status TEXT NOT NULL
        CHECK(status IN ('submitted', 'under_review', 'accepted', 'rejected'))
        DEFAULT 'submitted',

    applied_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    reviewed_at DATETIME,

    FOREIGN KEY(student_id)
        REFERENCES students(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE,

    FOREIGN KEY(course_id)
        REFERENCES courses(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE,

    UNIQUE(student_id, course_id)
);
CREATE INDEX idx_applications_status ON applications(status);
